* {
  box-sizing: border-box;
}
#container {
  display: flex;
  width: 27.5rem;
  height: 59.75rem;
  padding: 5.375rem 0.875rem;
  flex-direction: column;
  /* justify-content: center;
align-items: center; */
}
#wrapper {
  width: 25.75rem;
  height: 11.5rem;
  flex-shrink: 0;
  border-radius: 1.5rem 1.5rem 0rem 0rem;
  border: 1px solid #8e8e8e;
  background: #413c3c;
}
#input {
  width: 18.1875rem;
  float: right;
  margin-top: 1.75rem;
  text-align: end;
  margin-right: 1.22rem;
  height: 5.12175rem;
  flex-shrink: 0;
  color: #fff;
  font-family: Inter;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#total {
  float: right;
  width: 7.3125rem;
  text-align: end;
  margin-right: 1.22rem;
  height: 3.81006rem;
  flex-shrink: 0;
  color: #fff;
  font-family: Inter;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.section {
  display: flex;
}
.number-button,
.delete-button {
  width: 6.4375rem;
  height: 7.5rem;
  flex-shrink: 0;
  border: 1px solid #8e8e8e;
  background: #e0e0e0;
  color: #000;
  font-family: Inter;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 400;

  line-height: normal;
}
.ac-button {
  width: 12.875rem;
  height: 7.5rem;
  flex-shrink: 0;
  font-family: Inter;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 400;
  border: 1px solid #8e8e8e;
  background: #e0e0e0;
}
.four-basic-operations {
  border: 1px solid #8e8e8e;
  color: #fff;
  background: #e89650;
  width: 6.4375rem;
  height: 7.5rem;
  flex-shrink: 0;
  font-family: Inter;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 400;
}
#zero-button {
  width: 12.875rem;
  height: 7.5rem;
  flex-shrink: 0;
  border-radius: 0rem 0rem 0rem 1.5rem;
  border: 1px solid #8e8e8e;
  background: #e0e0e0;
  font-family: Inter;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 400;
}
.equal-button {
  border-radius: 0rem 0rem 1.5rem 0rem;
  color: #fff;
  border: 1px solid #8e8e8e;
  background: #e89650;
  width: 6.4375rem;
  height: 7.5rem;
  font-family: Inter;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 400;
  flex-shrink: 0;
}
.number-button,
.ac-button,
.four-basic-operations,
.equal-button,
.zero-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
